@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1{
    text-align: center;
}

#main {
    margin: auto;
    background-color: white;
}

.tileElem {
    border-radius: 20px;
    box-shadow: 0 1px 4px #acacac, 0 0 0 1px #dadada;
    overflow: hidden;
    background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.3 ));
}


.colorButton {
    border-radius: 30px;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.3 ));
    box-shadow: 0 1px 4px #acacac, 0 0 0 1px #dadada;
}

.colorButton:hover,
.colorButton:focus,
.colorButton:active {
    -webkit-transform: scale(1.1);
    transform: scale(0.9);
}

.buttonBar {
    padding: 1rem 0 1rem 0;
}